<form class="main-form {{cssClass}}">
    <div class="upper-content">
        <div class="portrait">
            <img data-edit="img" alt="{{actor.name}} portrait" src="{{actor.img}}">
            <button data-action="show-image"><i class="fas fa-image"></i></button>
        </div>
        <div class="upper-content__section">
            <span class="label">{{localize 'UA.Name'}}:</span>
            <input type="text" class="name" name="name" data-dtype="String" value="{{actor.name}}">
        </div>
    </div>
    <nav class="tab-buttons">
        <button data-tab="main">{{localize 'UA.Main'}}</button>
        <button data-tab="items">{{localize 'UA.Items'}}</button>
        <button data-tab="notes">{{localize 'UA.Notes'}}</button>
    </nav>
    <div class="tab-panels">
        <div class="lower-content tab" data-tab="main">
            <div class="lower-content__section">
                <div class="objective">
                    <button data-action="roll" data-roll-label="{{localize 'UA.Objective'}} ({{actor.system.objective.name}})" data-roll-target="{{actor.system.objective.percentage}}" data-roll-type="objective">{{localize 'UA.Objective'}}</button>
                    <input type="text" name="system.objective.name" data-dtype="String" value="{{actor.system.objective.name}}">
                    <span>{{actor.system.objective.percentage}}%</span>
                    <span class="label">{{localize 'UA.Scale'}}:</span>
                    <select name="system.objective.scale">{{selectOptions optionsObjectiveScale selected=actor.system.objective.scale localize=true}}</select>
                </div>
            </div>
            <div class="lower-content__section">
                <div class="item-list item-list--milestones">
                    <div class="item-list__header">
                        <div class="item-list__column">
                            <span>{{localize 'UA.Milestone'}}</span>
                        </div>
                        <div class="item-list__column">
                            <span>{{localize 'UA.Percentage'}}</span>
                        </div>
                        <button data-action="create-item" data-item-type="milestone"><i class="fas fa-plus"></i></button>
                    </div>
                    <ul class="item-list__list">{{#each actor.items as |item itemId|}}{{#if (equals item.type 'milestone')}}
                        <li class="item-list__item" data-item-id="{{item.id}}">
                            <div class="item-list__column">
                                <span>{{item.name}}</span>
                            </div>
                            <div class="item-list__column">
                                <span>+{{item.system.percentage}}%</span>
                            </div>
                            <div class="item-list__column">
                                <button data-action="post-item"><i class="fas fa-message"></i></button>
                                <button data-action="edit-item"><i class="fas fa-edit"></i></button>
                                <button data-action="destroy-item"><i class="fas fa-trash"></i></button>
                            </div>
                        </li>{{/if}}{{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="lower-content lower-content--2-columns tab" data-tab="items">
            <div class="lower-content__section">
                <h2>{{localize 'UA.Artifacts'}}:</h2>
                <div class="item-list item-list--artifacts">
                    <div class="item-list__header">
                        <div class="item-list__column">
                            <span>{{localize 'UA.Artifact'}}</span>
                        </div>
                        <div class="item-list__column">
                            <span>{{localize 'UA.Charges'}}</span>
                        </div>
                        <button data-action="create-item" data-item-type="artifact"><i class="fas fa-plus"></i></button>
                    </div>
                    <ul class="item-list__list">{{#each actor.items as |item itemId|}}{{#if (equals item.type 'artifact')}}
                        <li class="item-list__item" data-item-id="{{item.id}}">
                            <div class="item-list__column">
                                <span title="{{stripHTML item.system.effect}}">{{item.name}}</span>
                            </div>
                            <div class="item-list__column">
                                <span>{{#if item.system.charges.isHidden}}&quest;{{else}}{{#if item.system.charges.isEternal}}&infin;{{else}}{{item.system.charges.amount}}{{/if}}{{/if}}</span>
                            </div>
                            <div class="item-list__column">
                                <button data-action="post-item"><i class="fas fa-message"></i></button>
                                <button data-action="edit-item"><i class="fas fa-edit"></i></button>
                                <button data-action="destroy-item"><i class="fas fa-trash"></i></button>
                            </div>
                        </li>{{/if}}{{/each}}
                    </ul>
                </div>
            </div>
            <div class="lower-content__section">
                <h2>{{localize 'UA.OtherItems'}}:</h2>
                <div class="item-list item-list--items">
                    <div class="item-list__header">
                        <div class="item-list__column">
                            <span>{{localize 'UA.Item'}}</span>
                        </div>
                        <button data-action="create-item" data-item-type="item"><i class="fas fa-plus"></i></button>
                    </div>
                    <ul class="item-list__list">{{#each actor.items as |item itemId|}}{{#if (equals item.type 'item')}}
                        <li class="item-list__item" data-item-id="{{item.id}}">
                            <div class="item-list__column">
                                <span title="{{stripHTML item.system.effect}}">{{item.name}}</span>
                            </div>
                            <div class="item-list__column">
                                <button data-action="post-item"><i class="fas fa-message"></i></button>
                                <button data-action="edit-item"><i class="fas fa-edit"></i></button>
                                <button data-action="destroy-item"><i class="fas fa-trash"></i></button>
                            </div>
                        </li>{{/if}}{{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="lower-content tab" data-tab="notes">
            <div class="lower-content__section">
                <h2>{{localize 'UA.PublicNotes'}}:</h2>
                {{editor enrichedPublicNotes target="system.notes.public" button=true class="editor-content--extra-small" engine="prosemirror"}}
            </div>
            <div class="lower-content__section">
                <h2>{{localize 'UA.PrivateNotes'}}:</h2>
                {{editor enrichedPrivateNotes target="system.notes.private" button=true class="editor-content--extra-small" engine="prosemirror"}}
            </div>
        </div>
    </div>
</form>