<form class="main-form main-form--limited {{cssClass}}">
    <div class="portrait">
        <img src="{{actor.img}}" alt="{{actor.name}} portrait">
        <button data-action="show-image"><i class="fas fa-image"></i></button>
    </div>
    <h2>{{actor.name}}</h2>
    <div class="editor-wrapper">
        {{editor enrichedPublicNotes}}
    </div>
</form>