<form class="sheet__form {{cssClass}}">
    <header class="sheet__header">
        <div class="sheet__basics">
            <figure class="portrait">
                <img class="portrait__image" data-edit="img" src="{{item.img}}" alt="{{item.name}} portrait">
                <button class="button button--enlarge portrait__show-image" data-action="show-image"><i class="button__icon fas fa-image"></i></button>
            </figure>
            <section class="sheet__basics-section sheet__basics-section--name">
                <label class="label" for="{{item.id}}-name">{{localize 'UA.Name'}}:</label>
                <input type="text" id="{{item.id}}-name" class="sheet__name text-input text-input--large" name="name" value="{{item.name}}" data-dtype="String" required>
                <label class="label" for="{{item.id}}-power">{{localize 'UA.Power'}}:</label>
                <div class="select">
                    <select id="{{item.id}}-power" class="select__inner" name="system.power">{{selectOptions optionsPower selected=item.system.power localize=true blank=""}}</select>
                </div>
                <span></span>{{#if (or (isGM) (not item.system.charges.isHidden))}}
                <label class="label" for="{{item.id}}-eternal">{{localize 'UA.Eternal'}}:</label>
                <input type="checkbox" id="{{item.id}}-eternal" class="checkbox-input" name="system.charges.isEternal" data-dtype="Boolean" {{checked item.system.charges.isEternal}}>{{else}}
                <span></span>
                <span></span>{{/if}}
                <span></span>
                <label class="label" for="{{item.id}}-charges">{{localize 'UA.Charges'}}:</label>
                {{#if (or item.system.charges.isEternal (and (not isGM) item.system.options.hideCharges))}}<input type="text" class="text-input text-input--pseudo-number" value="{{#if (and (not isGM) item.system.options.hideCharges)}}&quest;{{else}}&infin;{{/if}}" data-dtype="String" disabled>{{else}}<input type="number" id="{{item.id}}-charges" class="number-input" name="system.charges.amount" value="{{item.system.charges.amount}}" min="0" data-dtype="Number">{{/if}}
            </section>
        </div>
        <nav class="sheet__navigation">
            <button class="button button--navigate" data-tab="main">{{localize 'UA.Main'}}</button>
            <button class="button button--navigate" data-tab="notes">{{localize 'UA.Notes'}}</button>
            <button class="button button--navigate" data-tab="options">{{localize 'UA.Options'}}</button>
        </nav>
    </header>
    <div class="sheet__body">
        <div class="tab" data-tab="main">
            <section class="tab__section">
                <h2 class="heading">{{localize 'UA.Description'}}:</h2>
                {{editor enrichedDescription target="system.description" engine="prosemirror" button=true}}
            </section>
            <section class="tab__section">
                <h2 class="heading">{{localize 'UA.Effect'}}:</h2>
                {{editor enrichedEffect target="system.effect" engine="prosemirror" button=true}}
            </section>
        </div>
        <div class="tab" data-tab="notes">
            <section class="tab__section">
                <h2 class="heading">{{localize 'UA.PublicNotes'}}:</h2>
                {{editor enrichedPublicNotes target="system.notes.public" engine="prosemirror" button=true}}
            </section>
            <section class="tab__section">
                <h2 class="heading">{{localize 'UA.PrivateNotes'}}:</h2>
                {{editor enrichedPrivateNotes target="system.notes.private" engine="prosemirror" button=true}}
            </section>
        </div>
        <div class="tab" data-tab="options">
            <section class="tab__section">
                <h2 class="heading">{{localize 'UA.GeneralOptions'}}:</h2>
                <p style="text-align: center">Coming soon.</p>{{!-- //FIX --}}
            </section>{{#if (isGM)}}
            <section class="tab__section">
                <h2 class="heading">{{localize 'UA.GMOptions'}}:</h2>
                <div style="align-items: center; height: fit-content; gap: 5px; display: grid; grid-template-columns: auto auto; width: fit-content; margin: 0 auto;">{{!-- //FIX --}}
                    <input type="checkbox" class="checkbox-input" name="system.options.hideCharges" data-dtype="Boolean" {{checked item.system.options.hideCharges}}>{{!-- //FIX --}}
                    <p style="text-align: center;">{{localize 'UA.HideCharges'}}</p>{{!-- //FIX --}}
                </div>
            </section>{{/if}}
        </div>
    </div>
</form>