<form class="main-form {{cssClass}} {{lang}}">
    <div class="upper-content">
        <div class="portrait">
            <img data-edit="img" alt="{{item.name}} portrait" src="{{item.img}}">
            <button data-action="show-image"><i class="fas fa-image"></i></button>
        </div>
        <div class="upper-content__section">
            <span class="label">{{localize 'UA.Name'}}:</span>
            <input type="text" class="name" name="name" data-dtype="String" value="{{item.name}}">
            <input type="number" name="system.percentage" data-dtype="Number" value="{{item.system.percentage}}" min="0" max="100">
            <span class="percentage">%</span>
            <span class="label">{{localize 'UA.Type'}}:</span>
            <select name="system.type">{{selectOptions optionsType selected=item.system.type localize=true}}</select>
            <span class="label">{{localize 'UA.Obsession'}}:</span>
            <input type="checkbox" name="system.isObsession" data-dtype="Boolean" {{checked item.system.isObsession}}>
            <span class="label">{{localize 'UA.Experience'}}:</span>
            <input type="checkbox" name="system.hasExperience" data-dtype="Boolean" {{checked item.system.hasExperience}}>
            <button data-action="improve" data-roll-label="{{localize (concat 'UA.' item.system.type 'Identity')}} ({{item.name}})" {{disabled (not item.system.hasExperience)}}>{{localize 'UA.Improve'}}
            </button>
        </div>
    </div>
    <nav class="tab-buttons">
        <button data-tab="main">{{localize 'UA.Main'}}</button>
        <button data-tab="notes">{{localize 'UA.Notes'}}</button>
    </nav>
    <div class="tab-panels">
        <div class="lower-content {{#if (not item.system.type)}}lower-content--details-only{{/if}} tab" data-tab="main">{{#if item.system.type}}
            <div class="lower-content__section">
                <div class="stats-features">{{#if (equals item.system.type 'Mundane')}}
                    <span class="label">{{localize 'UA.OfCourseICan'}}:</span>
                    {{editor enrichedOfCourseICan target="system.mundane.ofCourseICan" button=true engine="prosemirror"}}
                    <span class="label">{{localize 'UA.SubstitutesFor'}}:</span>
                    <select name="system.mundane.substitutesFor">{{selectOptions optionsSubstitutesFor selected=item.system.mundane.substitutesFor localize=true}}</select>
                    <span class="stats-features__details">{{#if item.system.mundane.substitutesFor}}{{localize 'UA.SubstitutesForAbility_Details'}}{{/if}}</span>{{/if}}{{#if (equals item.system.type 'Supernatural')}}
                    <span class="label">{{localize 'UA.SupernaturalAbility'}}:</span>
                    <select name="system.supernatural.ability">{{selectOptions optionsSupernaturalAbility selected=item.system.supernatural.ability localize=true}}</select>
                    <span class="stats-features__details">{{#if item.system.supernatural.ability}}{{#if (includes item.system.supernatural.ability 'Alter')}}{{localize 'UA.AlterPassion_Details'}}{{else}}{{#if (includes item.system.supernatural.ability 'Harm')}}{{localize 'UA.Harm_Details'}}{{else}}{{#if (includes item.system.supernatural.ability 'Information')}}{{localize 'UA.Information_Details'}}{{else}}{{#if (includes item.system.supernatural.ability 'Protection')}}{{localize 'UA.Protection_Details'}}{{else}}{{#if (includes item.system.supernatural.ability 'Terrorize')}}{{localize 'UA.TerrorizeMeter_Details'}}{{else}}{{localize (concat 'UA.' item.system.supernatural.ability '_Details')}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}</span>{{/if}}{{#if (equals item.system.type 'Avatar')}}
                    <span class="label">{{localize 'UA.Attributes'}}:</span>
                    {{editor enrichedAttributes target="system.avatar.attributes" button=true engine="prosemirror"}}
                    <span class="label">{{localize 'UA.Symbols'}}:</span>
                    {{editor enrichedSymbols target="system.avatar.symbols" button=true engine="prosemirror"}}
                    <span class="label">{{localize 'UA.Taboos'}}:</span>
                    {{editor enrichedAvatarTaboos target="system.avatar.taboos" button=true engine="prosemirror"}}{{#if (exceedsOrEquals item.system.percentage 1)}}
                    <span class="label">{{localize 'UA.Channel1-50%'}}:</span>
                    {{editor enrichedChannel1-50 target="system.avatar.channels.1-50" button=true engine="prosemirror"}}{{/if}}{{#if (exceedsOrEquals item.system.percentage 51)}}
                    <span class="label">{{localize 'UA.Channel51-70%'}}:</span>
                    {{editor enrichedChannel51-70 target="system.avatar.channels.51-70" button=true engine="prosemirror"}}{{/if}}{{#if (exceedsOrEquals item.system.percentage 71)}}
                    <span class="label">{{localize 'UA.Channel71-90%'}}:</span>
                    {{editor enrichedChannel71-90 target="system.avatar.channels.71-90" button=true engine="prosemirror"}}{{/if}}{{#if (exceedsOrEquals item.system.percentage 91)}}
                    <span class="label">{{localize 'UA.Channel91-98%'}}:</span>
                    {{editor enrichedChannel91-98 target="system.avatar.channels.91-98" button=true engine="prosemirror"}}{{/if}}{{#if (exceedsOrEquals item.system.percentage 99)}}
                    <span class="label">{{localize 'UA.Channel99%'}}:</span>
                    {{editor enrichedChannel99 target="system.avatar.channels.99-" button=true engine="prosemirror"}}{{/if}}{{/if}}{{#if (equals item.system.type 'Adept')}}
                    <span class="label">{{localize 'UA.Domain'}}:</span>
                    {{editor enrichedDomain target="system.adept.domain" button=true engine="prosemirror"}}
                    <span class="label">{{localize 'UA.Taboos'}}:</span>
                    {{editor enrichedAdeptTaboos target="system.adept.taboos" button=true engine="prosemirror"}}
                    <span class="label">{{localize 'UA.GenerateMinorCharge'}}:</span>
                    {{editor enrichedGenerateMinorCharge target="system.adept.generateCharge.minor" button=true engine="prosemirror"}}
                    <span class="label">{{localize 'UA.GenerateSignificantCharge'}}:</span>
                    {{editor enrichedGenerateSignificantCharge target="system.adept.generateCharge.significant" button=true engine="prosemirror"}}
                    <span class="label">{{localize 'UA.GenerateMajorCharge'}}:</span>
                    {{editor enrichedGenerateMajorCharge target="system.adept.generateCharge.major" button=true engine="prosemirror"}}{{/if}}
                    {{#each item.system.features as |feature featureKey|}}<span class="label">{{localize 'UA.Feature'}}:</span>
                    <select name="system.features.{{featureKey}}">{{#if (equals ../item.system.type 'Mundane')}}{{selectOptions ../optionsFeatures selected=feature localize=true}}{{else}}{{selectOptions ../optionsFeaturesNotMundane selected=feature localize=true}}{{/if}}</select>
                    <span class="stats-features__details">{{#if feature}}{{#if (includes feature 'Coerces')}}{{localize 'UA.CoercesMeter_Details'}}{{else}}{{#if (includes feature 'Evaluates')}}{{localize 'UA.EvaluatesMeter_Details'}}{{else}}{{#if (includes feature 'Reads')}}{{localize 'UA.ReadsObsession/Passion_Details'}}{{else}}{{#if (includes feature 'Resists')}}{{localize 'UA.ResistsMeter_Details'}}{{else}}{{#if (includes feature 'Substitutes')}}{{localize 'UA.SubstitutesForAbility_Details'}}{{else}}{{localize (concat 'UA.' (replaceAll feature ' ' '') '_Details')}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}</span>{{/each}}
                </div>
            </div>{{/if}}
            <div class="lower-content__section">
                <h2>{{localize 'UA.Details'}}:</h2>
                {{editor enrichedDetails target="system.details" button=true engine="prosemirror"}}
            </div>
        </div>
        <div class="lower-content tab" data-tab="notes">
            <div class="lower-content__section">
                <h2>{{localize 'UA.PublicNotes'}}:</h2>
                {{editor enrichedPublicNotes target="system.notes.public" button=true class="editor-content--medium" engine="prosemirror"}}
            </div>
            <div class="lower-content__section">
                <h2>{{localize 'UA.PrivateNotes'}}:</h2>
                {{editor enrichedPrivateNotes target="system.notes.private" button=true class="editor-content--medium" engine="prosemirror"}}
            </div>
        </div>
    </div>
</form>