<form class="sheet__form {{cssClass}}">
    <header class="sheet__header">
        <div class="sheet__basics">
            <figure class="portrait">
                <img class="portrait__image" data-edit="img" src="{{item.img}}" alt="{{item.name}} portrait">
                <button class="button button--enlarge portrait__show-image" data-action="show-image"><i class="button__icon fas fa-image"></i></button>
            </figure>
            <section class="sheet__basics-section sheet__basics-section--name">
                <label class="label" for="{{item.id}}-name">{{localize 'UA.Name'}}:</label>
                <div class="capsule capsule--identity">
                    <input type="text" id="{{item.id}}-name" class="capsule__cell sheet__name text-input text-input--large" name="name" value="{{item.name}}" data-dtype="String" required>
                    <div class="capsule__cell number-percentage number-percentage--large">
                        <input type="number" class="capsule__cell number-input number-input--large" name="system.percentage" value="{{item.system.percentage}}" min="0" max="100" data-dtype="Number">
                        <span class="capsule__cell number-percentage__percentage">%</span>
                    </div>
                </div>
                <label class="label" for="{{item.id}}-type">{{localize 'UA.Type'}}:</label>
                <div class="select">
                    <select id="{{item.id}}-type" class="select__inner" name="system.type">{{selectOptions optionsType selected=item.system.type localize=true blank=""}}</select>
                </div>
                <span></span>
                <span></span>
                <label class="label" for="{{item.id}}-obsession">{{localize 'UA.Obsession'}}:</label>
                <input type="checkbox" id="{{item.id}}-obsession" class="checkbox-input" name="system.isObsession" data-dtype="Boolean" {{checked item.system.isObsession}}>
                <span></span>
                <span></span>
            </section>
            <section class="sheet__basics-section">
                <button class="button button--roll" data-action="improve" data-roll-label="{{localize (concat 'UA.' item.system.type 'Identity')}} ({{item.name}})" {{disabled (not item.system.hasExperience)}}>{{localize 'UA.Improve'}}</button>
                <label class="label" for="{{item.id}}-experience">{{localize 'UA.Experience'}}:</label>
                <input type="checkbox" id="{{item.id}}-experience" class="checkbox-input" name="system.hasExperience" data-dtype="Boolean" {{checked item.system.hasExperience}}>
            </section>
        </div>
        <nav class="sheet__navigation">
            <button class="button button--navigate" data-tab="main">{{localize 'UA.Main'}}</button>
            <button class="button button--navigate" data-tab="notes">{{localize 'UA.Notes'}}</button>
            <button class="button button--navigate" data-tab="options">{{localize 'UA.Options'}}</button>
        </nav>
    </header>
    <div class="sheet__body">
        <div class="tab{{#if item.system.type}} tab--short-first-row{{/if}}" data-tab="main">{{#if item.system.type}}
            <section class="tab__section tab__section--headerless">
                <div class="pseudo-editors stats-features">{{#if (equals item.system.type 'Mundane')}}
                    <div class="pseudo-editors__label">
                        <span class="label">{{localize 'UA.OfCourseICan'}}:</span>
                    </div>
                    {{editor enrichedOfCourseICan target="system.mundane.ofCourseICan" engine="prosemirror" button=true class="editor-content--small"}}
                    <label class="label" for="{{item.id}}-substitutes-for">{{localize 'UA.SubstitutesFor'}}:</label>
                    <div class="select">
                        <select id="{{item.id}}-substitutes-for" class="select__inner" name="system.mundane.substitutesFor">{{selectOptions optionsSubstitutesFor selected=item.system.mundane.substitutesFor localize=true blank=""}}</select>
                    </div>
                    <span class="stats-features__details">{{#if item.system.mundane.substitutesFor}}{{localize 'UA.SubstitutesForAbility_Details'}}{{/if}}</span>{{/if}}{{#if (equals item.system.type 'Supernatural')}}
                    <label class="label" for="{{item.id}}-supernatural-ability">{{localize 'UA.SupernaturalAbility'}}:</label>
                    <div class="select">
                        <select id="{{item.id}}-supernatural-ability" class="select__inner" name="system.supernatural.ability">{{selectOptions optionsSupernaturalAbility selected=item.system.supernatural.ability localize=true blank=""}}</select>
                    </div>
                    <span class="stats-features__details">{{#if item.system.supernatural.ability}}{{#if (includes item.system.supernatural.ability 'Alter')}}{{localize 'UA.AlterPassion_Details'}}{{else}}{{#if (includes item.system.supernatural.ability 'Harm')}}{{localize 'UA.Harm_Details'}}{{else}}{{#if (includes item.system.supernatural.ability 'Information')}}{{localize 'UA.Information_Details'}}{{else}}{{#if (includes item.system.supernatural.ability 'Protection')}}{{localize 'UA.Protection_Details'}}{{else}}{{#if (includes item.system.supernatural.ability 'Terrorize')}}{{localize 'UA.TerrorizeMeter_Details'}}{{else}}{{localize (concat 'UA.' item.system.supernatural.ability '_Details')}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}</span>{{/if}}{{#if (equals item.system.type 'Avatar')}}
                    <div class="pseudo-editors__label">
                        <span class="label">{{localize 'UA.Attributes'}}:</span>
                    </div>
                    {{editor enrichedAttributes target="system.avatar.attributes" engine="prosemirror" button=true class="editor-content--small"}}
                    <div class="pseudo-editors__label">
                        <span class="label">{{localize 'UA.Symbols'}}:</span>
                    </div>
                    {{editor enrichedSymbols target="system.avatar.symbols" engine="prosemirror" button=true class="editor-content--small"}}
                    <div class="pseudo-editors__label">
                        <span class="label">{{localize 'UA.Taboos'}}:</span>
                    </div>
                    {{editor enrichedAvatarTaboos target="system.avatar.taboos" engine="prosemirror" button=true class="editor-content--small"}}{{#if (exceedsOrEquals item.system.percentage 1)}}
                    <div class="pseudo-editors__label">
                        <span class="label">{{localize 'UA.Channel1-50%'}}:</span>
                    </div>
                    {{editor enrichedChannel1-50 target="system.avatar.channels.first" engine="prosemirror" button=true class="editor-content--small"}}{{/if}}{{#if (exceedsOrEquals item.system.percentage 51)}}
                    <div class="pseudo-editors__label">
                        <span class="label">{{localize 'UA.Channel51-70%'}}:</span>
                    </div>
                    {{editor enrichedChannel51-70 target="system.avatar.channels.second" engine="prosemirror" button=true class="editor-content--small"}}{{/if}}{{#if (exceedsOrEquals item.system.percentage 71)}}
                    <div class="pseudo-editors__label">
                        <span class="label">{{localize 'UA.Channel71-90%'}}:</span>
                    </div>
                    {{editor enrichedChannel71-90 target="system.avatar.channels.third" engine="prosemirror" button=true class="editor-content--small"}}{{/if}}{{#if (exceedsOrEquals item.system.percentage 91)}}
                    <div class="pseudo-editors__label">
                        <span class="label">{{localize 'UA.Channel91-98%'}}:</span>
                    </div>
                    {{editor enrichedChannel91-98 target="system.avatar.channels.fourth" engine="prosemirror" button=true class="editor-content--small"}}{{/if}}{{#if (exceedsOrEquals item.system.percentage 99)}}
                    <div class="pseudo-editors__label">
                        <span class="label">{{localize 'UA.Channel99%'}}:</span>
                    </div>
                    {{editor enrichedChannel99 target="system.avatar.channels.godwalker" engine="prosemirror" button=true class="editor-content--small"}}{{/if}}{{/if}}{{#if (equals item.system.type 'Adept')}}
                    <div class="pseudo-editors__label">
                        <span class="label">{{localize 'UA.Domain'}}:</span>
                    </div>
                    {{editor enrichedDomain target="system.adept.domain" engine="prosemirror" button=true class="editor-content--small"}}
                    <div class="pseudo-editors__label">
                        <span class="label">{{localize 'UA.Taboos'}}:</span>
                    </div>
                    {{editor enrichedAdeptTaboos target="system.adept.taboos" engine="prosemirror" button=true class="editor-content--small"}}
                    <div class="pseudo-editors__label">
                        <span class="label">{{localize 'UA.GenerateMinorCharge'}}:</span>
                    </div>
                    {{editor enrichedGenerateMinorCharge target="system.adept.generateCharge.minor" engine="prosemirror" button=true class="editor-content--small"}}
                    <div class="pseudo-editors__label">
                        <span class="label">{{localize 'UA.GenerateSignificantCharge'}}:</span>
                    </div>
                    {{editor enrichedGenerateSignificantCharge target="system.adept.generateCharge.significant" engine="prosemirror" button=true class="editor-content--small"}}
                    <div class="pseudo-editors__label">
                        <span class="label">{{localize 'UA.GenerateMajorCharge'}}:</span>
                    </div>
                    {{editor enrichedGenerateMajorCharge target="system.adept.generateCharge.major" engine="prosemirror" button=true class="editor-content--small"}}{{/if}}
                    {{!-- {{#each item.system.features as |featureValue featureName|}}<label class="label" for="{{../item.id}}-feature-{{featureName}}">{{localize 'UA.Feature'}}:</label> --}}
                    {{#each features as |featureValue featureName|}}<label class="label" for="{{../item.id}}-feature-{{featureName}}">{{localize 'UA.Feature'}}:</label>
                    <div class="select">
                        {{!-- <select id="{{../item.id}}-feature-{{featureName}}" class="select__inner" name="system.features.{{featureName}}">{{#if (equals ../item.system.type 'Mundane')}}{{selectOptions ../optionsFeatures selected=featureValue localize=true blank=""}}{{else}}{{selectOptions ../optionsFeaturesNotMundane selected=featureValue localize=true blank=""}}{{/if}}</select> --}}
                        <select id="{{../item.id}}-feature-{{featureName}}" class="select__inner" name="system.features.{{featureName}}">{{selectOptions ../optionsFeaturesForType selected=featureValue localize=true blank=""}}</select>
                    </div>
                    <span class="stats-features__details">{{#if featureValue}}{{#if (includes featureValue 'Coerces')}}{{localize 'UA.CoercesMeter_Details'}}{{else}}{{#if (includes featureValue 'Evaluates')}}{{localize 'UA.EvaluatesMeter_Details'}}{{else}}{{#if (includes featureValue 'Reads')}}{{localize 'UA.ReadsObsession/Passion_Details'}}{{else}}{{#if (includes featureValue 'Resists')}}{{localize 'UA.ResistsMeter_Details'}}{{else}}{{#if (includes featureValue 'Substitutes')}}{{localize 'UA.SubstitutesForAbility_Details'}}{{else}}{{localize (concat 'UA.' (replaceAll featureValue ' ' '') '_Details')}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}</span>{{/each}}
                </div>
            </section>{{/if}}
            <section class="tab__section">
                <h2 class="heading">{{localize 'UA.Details'}}:</h2>
                {{editor enrichedDetails target="system.details" engine="prosemirror" button=true}}
            </section>
        </div>
        <div class="tab" data-tab="notes">
            <section class="tab__section">
                <h2 class="heading">{{localize 'UA.PublicNotes'}}:</h2>
                {{editor enrichedPublicNotes target="system.notes.public" engine="prosemirror" button=true}}
            </section>
            <section class="tab__section">
                <h2 class="heading">{{localize 'UA.PrivateNotes'}}:</h2>
                {{editor enrichedPrivateNotes target="system.notes.private" engine="prosemirror" button=true}}
            </section>
        </div>
        <div class="tab" data-tab="options">
            <section class="tab__section">
                <h2 class="heading">{{localize 'UA.GeneralOptions'}}:</h2>
                <p style="text-align: center">Coming soon.</p>{{!-- //FIX --}}
            </section>{{#if (isGM)}}
            <section class="tab__section">
                <h2 class="heading">{{localize 'UA.GMOptions'}}:</h2>
                <p style="text-align: center">Coming soon.</p>{{!-- //FIX --}}
            </section>{{/if}}
        </div>
    </div>
</form>