<form class="main-form main-form--limited {{cssClass}}">
    <img class="portrait" alt="{{item.name}} portrait" src="{{item.img}}">
    <h2>{{item.name}}</h2>
    <div class="editor-wrapper">
        {{editor enrichedPublicNotes target="system.notes.public"}}
    </div>
</form>