<form class="sheet__form {{cssClass}}">
    <header class="sheet__header">
        <div class="sheet__basics">
            <figure class="portrait">
                <img class="portrait__image" data-edit="img" src="{{item.img}}" alt="{{item.name}} portrait">
                <button class="button button--enlarge portrait__show-image" data-action="show-image"><i class="button__icon fas fa-image"></i></button>
            </figure>
            <section class="sheet__basics-section sheet__basics-section--name">
                <label class="label" for="{{item.id}}-name">{{localize 'UA.Name'}}:</label>
                <div class="capsule capsule--milestone">
                    <input type="text" id="{{item.id}}-name" class="capsule__cell sheet__name text-input text-input--large" name="name" value="{{item.name}}" data-dtype="String" required>
                    <div class="capsule__cell number-percentage number-percentage--large">
                        <input type="number" class="capsule__cell number-input number-input--large" name="system.percentage" value="{{item.system.percentage}}" min="0" max="100" data-dtype="Number">
                        <span class="capsule__cell number-percentage__percentage">%</span>
                    </div>
                </div>
            </section>
            <section class="sheet__basics-section sheet__basics-section--vertical">
                <button class="button button--roll" data-action="roll" data-roll-formula="1d10+5" data-roll-label="{{localize 'UA.Milestone'}} ({{item.name}})">{{localize 'UA.PettyMilestone'}}</button>
                <button class="button button--roll" data-action="roll" data-roll-formula="2d10+10" data-roll-label="{{localize 'UA.Milestone'}} ({{item.name}})">{{localize 'UA.IntenseMilestone'}}</button>
            </section>
        </div>
        <nav class="sheet__navigation">
            <button class="button button--navigate" data-tab="main">{{localize 'UA.Main'}}</button>
            <button class="button button--navigate" data-tab="notes">{{localize 'UA.Notes'}}</button>
            <button class="button button--navigate" data-tab="options">{{localize 'UA.Options'}}</button>
        </nav>
    </header>
    <div class="sheet__body">
        <div class="tab" data-tab="main">
            <section class="tab__section">
                <h2 class="heading">{{localize 'UA.Description'}}:</h2>{{!-- //FIX --}}
                {{editor enrichedDescription target="system.description" engine="prosemirror" button=true}}{{!-- //FIX --}}
            </section>
        </div>
        <div class="tab" data-tab="notes">
            <section class="tab__section">
                <h2 class="heading">{{localize 'UA.PublicNotes'}}:</h2>
                {{editor enrichedPublicNotes target="system.notes.public" engine="prosemirror" button=true}}
            </section>
            <section class="tab__section">
                <h2 class="heading">{{localize 'UA.PrivateNotes'}}:</h2>
                {{editor enrichedPrivateNotes target="system.notes.private" engine="prosemirror" button=true}}
            </section>
        </div>
        <div class="tab" data-tab="options">
            <section class="tab__section">
                <h2 class="heading">{{localize 'UA.GeneralOptions'}}:</h2>
                <p style="text-align: center">Coming soon.</p>{{!-- //FIX --}}
            </section>{{#if (isGM)}}
            <section class="tab__section">
                <h2 class="heading">{{localize 'UA.GMOptions'}}:</h2>
                <p style="text-align: center">Coming soon.</p>{{!-- //FIX --}}
            </section>{{/if}}
        </div>
    </div>
</form>