<form class="main-form {{cssClass}}">
    <div class="upper-content">
        <div class="upper-content__section">
            <input type="text" class="name" name="name" value="{{item.name}}" data-dtype="String">
            <span class="sign">+</span>
            <input type="number" name="system.percentage" value="{{item.system.percentage}}" min="0" max="100" data-dtype="Number">
            <span class="percentage">%</span>
        </div>
        <div class="upper-content__section">
            <button data-action="roll" data-roll-formula="1d10+5" data-roll-label="{{localize 'UA.Milestone'}} ({{item.name}})">{{localize 'UA.PettyTask'}}</button>{{!--//FIX data-roll-label="{{localize 'UA.Milestone'}} ({{item.name}})" --}}
            <button data-action="roll" data-roll-formula="2d10+10" data-roll-label="{{localize 'UA.Milestone'}} ({{item.name}})">{{localize 'UA.IntenseTask'}}</button>{{!--//FIX data-roll-label="{{localize 'UA.Milestone'}} ({{item.name}})" --}}
        </div>
    </div>
</form>