<form class="main-form {{cssClass}}">
    <div class="upper-content">
        <div class="portrait">
            <img data-edit="img" src="{{item.img}}" alt="{{item.name}} portrait">
            <button data-action="show-image"><i class="fas fa-image"></i></button>
        </div>
        <div class="upper-content__section">
            <span class="label">{{localize 'UA.Name'}}:</span>
            <input type="text" class="name" name="name" value="{{item.name}}" data-dtype="String">
            <span class="label">{{localize 'UA.School'}}:</span>
            <input type="text" name="system.school" value="{{item.system.school}}" data-dtype="String">
            <span class="label">{{localize 'UA.Cost'}}:</span>
            <input type="number" name="system.cost.amount" value="{{item.system.cost.amount}}" min="0" data-dtype="Number">
            <select name="system.cost.type">{{#if (equals item.system.cost.amount 1)}}{{selectOptions optionsCostTypeSingular selected=item.system.cost.type localize=true}}{{else}}{{selectOptions optionsCostTypePlural selected=item.system.cost.type localize=true}}{{/if}}</select>
        </div>
    </div>
    <nav class="tab-buttons">
        <button data-tab="main">{{localize 'UA.Main'}}</button>
        <button data-tab="notes">{{localize 'UA.Notes'}}</button>
    </nav>
    <div class="tab-panels">
        <div class="tab lower-content" data-tab="main">
           <div class="lower-content__section">
                <h2>{{localize 'UA.Effect'}}:</h2>
                {{editor enrichedEffect target="system.effect" engine="prosemirror" button=true class="editor-content--extra-large"}}
           </div>
        </div>
        <div class="tab lower-content" data-tab="notes">
            <div class="lower-content__section">
                <h2>{{localize 'UA.PublicNotes'}}:</h2>
                {{editor enrichedPublicNotes target="system.notes.public" engine="prosemirror" button=true class="editor-content--extra-small"}}
            </div>
            <div class="lower-content__section">
                <h2>{{localize 'UA.PrivateNotes'}}:</h2>
                {{editor enrichedPrivateNotes target="system.notes.private" engine="prosemirror" button=true class="editor-content--extra-small"}}
            </div>
        </div>
    </div>
</form>